@font-face {
    font-family: "Helvetica Neue";
    src: url("helvetica-neue.woff");
}

@font-face {
    font-family: "Helvetica";
    src: url("helvetica.woff");
}

body {
    color: #666666;
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 940px;
    margin: 0 auto;
}

p, li {
    font-size: 16px;
    font-family: "Helvetica Neue";
}

p {
    line-height: 1.5em;
}    

h1, h2, h3 {
    color: #252525;
    font-family: "Helvetica";
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
}

a {
    color: #00a0d8;
    text-decoration: none;
}
