@font-face {
    font-family: "Helvetica Neue";
    src: url("helvetica-neue.woff");
}

@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("helvetica-neue-medium.woff");
}


@font-face {
    font-family: "Helvetica";
    src: url("helvetica.woff");
}

body {
    color: #666666;
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 940px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}
@media (max-width:940px) {
  body {
    width: auto
  }
}
p, li {
    font-size: 16px;
    font-family: "Helvetica Neue";
}

p {
    line-height: 1.5em;
}

h1, h2, h3 {
    color: #252525;
    font-family: "Helvetica";
}

h1 {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}

a {
    color: #00a0d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
